node_modules
.env
npm-debug.log
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.venv/
**/venv/
.Python
env/
venv/
.venv/
pythonService/.venv/
pythonService/uploads/
pythonService/__pycache__/
pip-log.txt
.mediapipe/
*.log
.git
.gitignore
